* { margin:0; padding:0; }
body { font: 72.5%/1.7em "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif; color:#555; }

/* general */
a { color:#007898; background: inherit; border-bottom:1px dotted #ccc; text-decoration:none; }
a:hover { border-bottom:1px solid #ccc; color: #808080; background: inherit; }
a:focus { outline: 0; }
img { border: 0; text-decoration: none; }

/* content */
h1 { margin: 0 0 10px; letter-spacing: 1px; font-size: 2em; }
h2 { margin: 0 0 10px; letter-spacing: 1px; font-size: 1.5em; }
hr { margin: 5px 100px 5px 5px; }
.wrap { padding:20px 10px 10px 10px; width:720px; margin:0 auto; }
#photo { float: left; width: 80px; margin: 0 0 20px 0; }
#content {	width:620px; float:right; margin: 0 0 20px 0; }
